/* Local CSS */

body{
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #7a93dd 50%, #E4E9FD 50%);
    /* min-height: 100px; */
    margin: 0;
}

h1{
    font-family: 'Bona Nova', serif;
}

p{
    /* Easier to read text */
    line-height: 2;
}

.nav-item{
    margin: auto 1rem;
}
.nav-item:hover{
    box-shadow: 0 0 50px rgba(115, 112, 112, 0.2); 
}

.nav-item:focus{
    color: white;
}

.nav-item:active{
    color: green;
}

.footer{
    /* rem = 16px */
    /* margin - מסגרת */
    margin-top: 30%;
    /* padding - מרווח */
    padding: 4rem;
    text-align: center;
    background-color: rgb(192, 219, 231);
}

.center-container{
    margin: 1rem auto;
    text-align: center;
}

/* Center only the table */
.center-table{
    margin-left: auto; 
    margin-right: auto;
}

table, th, td{
  border: 1px solid rgb(21, 42, 233);
}

td{
    width: 30rem;
}

/* .image {
    display: block;
    width: 100%;
    height: auto;
  } */
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.member-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.range-paragraph{
    margin: auto 13rem;
    font-size: 1.1rem;
}

.form-container{
    margin: auto 15rem;
}

.select-direction{
    direction: rtl;
}